<div class="user-data-container">
  <div class="user-list-container">
    <button class="btn btn-primary mb-2" (click)='initializeUserListData()'>Refresh List</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Email</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of userDataList'>
          <td>{{user.first_name}}</td>
          <td>{{user.email}}</td>
          <td>
            <button class="btn btn-primary mr-2" (click)='showDetails(user.id)'>Show me</button>
            <button class="btn btn-primary" (click)='deleteUser(user.id)'>Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showDetailsDiv" class="">
    <h2>User Details</h2>
    <p>First name: {{selectedUser.first_name}}</p>
    <p>Last name: {{selectedUser.last_name}}</p>
    <p>Email: {{selectedUser.email}}</p>
    <p>Is Active: {{selectedUser.isActive}}</p>
  </div>
</div>
